{% extends 'polls/base.html' %}
{% block Title %}User Profile{% endblock %}
{% block Body %}
    {% include 'authentication/message.html' %}
    <strong>User Name:</strong>{{ profile.user.username }}
    <br>
    <strong>User Email:</strong>{{ profile.user.email }}
    <br>
    <!-- first name -->
    <strong>First Name:</strong>{{ profile.first_name }}
    <br>
    <!-- last name -->
    <strong>Last Name:</strong>{{ profile.last_name }}
    <br>
    <!-- profile picture -->
    <strong>Profile Picture:</strong><img src="{% if profile.picture %}{{ profile.picture.url }}{% else %}/static/media/user.png{% endif %}" alt="Profile Picture" height="100">
    <br>
    <form method="post" enctype="multipart/form-data" action="{% url 'auth:profile' profile.pk %}">
        {% csrf_token %}
        {{ upload_picture_form.as_p }}
        <input type="submit" value="Upload">
    </form>
    <!-- bio -->
    <strong>Bio:</strong>{{ profile.bio }}
{% endblock %}