{% extends 'polls/base.html' %}
{% block Title %}User Profile{% endblock %}
{% block Body %}
    <strong>User Name:</strong>{{ profile.user.username }}
    <br>
    <strong>User Email:</strong>{{ profile.user.email }}
    <br>
    <!-- first name -->
    <strong>First Name:</strong>{{ profile.first_name }}
    <br>
    <!-- last name -->
    <strong>Last Name:</strong>{{ profile.last_name }}
    <br>
    <!-- profile picture -->
    <strong>Profile Picture:</strong>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if profile.picture %}
            <img src="{{ profile.picture.url }}" alt="Profile Picture" width="200" height="200">
        {% endif %}
        {{ upload_photo_form }}
        <input type="submit" value="Upload">
    </form>
    <br>
    <!-- bio -->
    <strong>Bio:</strong>{{ profile.bio }}
{% endblock %}